@model IEnumerable<TCRS.Web.ViewModels.LessonViewModel.LessonIndexViewModel>

@{
    ViewData["Title"] = "فهرست دروس";
}



<p>
    <a asp-action="Create" class="btn btn-primary">جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LessonCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfCourseUnits)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfCourseUnits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonTitle)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.LessonID">ویرایش</a> |
                    <a asp-action="Details" asp-route-id="@item.LessonID">اساتید</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
