@model IEnumerable<TCRS.Web.Models.Entities.WeeklySchedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartCourse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lesson.LessonTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScheduleID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScheduleID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScheduleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
